name: "Build Passwall2"

on:
  repository_dispatch:
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  build_passwall2:
    name: Build Passwall2
    runs-on: ubuntu-latest
    steps:
      - name: Install Packages
        run: |
          sudo -E apt-get -qq update
          sudo -E apt-get -qq install build-essential clang flex bison g++ gawk \
          gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev \
          python3-setuptools rsync swig unzip zlib1g-dev file wget

      - name: Initialization environment
        run: |
          wget 'https://downloads.openwrt.org/releases/24.10.5/targets/x86/64/openwrt-sdk-24.10.5-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.zst'
          mkdir sdk
          tar --zstd -x -f openwrt-sdk-24.10.5-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.zst -C ./sdk --strip-components=1
          cd sdk

          # Update feeds to github source
          sed -i \
              -e 's|git\.openwrt\.org/feed|github.com/openwrt|g' \
              -e 's|git\.openwrt\.org/project|github.com/openwrt|g' \
              -e 's|git\.openwrt\.org/openwrt|github.com/openwrt|g' \
              "feeds.conf.default"

          cat > feeds.tmp <<'EOF'
          src-git passwall_packages https://github.com/Openwrt-Passwall/openwrt-passwall-packages.git;main
          src-git passwall2 https://github.com/anacude/openwrt-passwall2.git;main
          EOF
          cat feeds.conf.default >> feeds.tmp
          mv feeds.tmp feeds.conf.default
          
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Compile passwall2
        id: compile
        run: |
          cd sdk
          echo "CONFIG_ALL_NONSHARED=n" > .config
          echo "CONFIG_ALL_KMODS=n" >> .config
          echo "CONFIG_ALL=n" >> .config
          echo "CONFIG_AUTOREMOVE=n" >> .config
          echo "CONFIG_LUCI_LANG_zh_Hans=y" >> .config
          echo "CONFIG_LUCI_LANG_zh_Hant=y" >> .config
          echo "CONFIG_PACKAGE_luci-app-passwall2=m" >> .config
          make defconfig
          echo "make package/luci-app-passwall2/{clean,compile} -j$(nproc)"
          make package/luci-app-passwall2/{clean,compile} -j$(nproc) V=s || make package/luci-app-passwall2/{clean,compile} -j1 V=s
          mkdir upload
          mv bin/packages/*/passwall2/luci-* upload/
          make clean
          cd upload
          echo "status=success" >> $GITHUB_OUTPUT
          echo "FIRMWARE=$PWD" >> $GITHUB_ENV

      - name: Upload passwall2 ipks to release
        uses: softprops/action-gh-release@v2
        if: steps.compile.outputs.status == 'success'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: 26.02.26
          files: ${{ env.FIRMWARE }}/*

